/* Custom styles */
.hero {
    background: url('assets/hero-bg.jpg') no-repeat center center/cover;
    color: white;
}

.btn:hover {
    background-color: #0056b3;
   color:white;
}
.container:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  marquee{
    padding-top:10PX;
    color: blueviolet;
  }

  div img :hover {
    background-color: yellow;
    font-size: 18px;
  }